a {
	color: black;
}

body {
	background-color: rgba(240, 255, 251, 0.2);
	font-size: 16 px;
}

header {
	background-color: white;  
	color: black;
	margin: 0;
	padding: 0.5em;
}

header:after {
	clear: both;
	content: "";
	display: block;
}

header figure {
	float: left;
}

header h1 {
	font-size: 20px;
	font-weight: normal;
	margin: 1em 85px 1em 100px;
	display: block;
}

header img {
	width: 90px;
}

header h1 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0;
}

nav {
	background-color: rgba(228, 134, 83, 0.6); 
	position: relative;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0 6em 0 .5em;
}

nav ul li {
	display: inline-block;
	margin: 0 0.5em 0 0;
}

nav ul li a {
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	-webkit-transition: .3s;
}

nav ul li a:hover {
	background-color: rgba(228, 134, 83, 0.4);  
}


#contenido {
	margin: 1em;
}

#contenido .item {
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

.formulario {
	text-align: left;
	padding: 1em;
}

.formulario item {
	display: inline-block;
}

.formulario label {
	border-radius: 5px;
	padding: 0.2em 0.6em;
}

.formulario input {
	border-radius: 5px;
	padding: 0.2em 0.6em;
}

.tabla {
	width: 550px;
	border: 2px solid #000;
	border-collapse: collapse;
	border-radius: 5px;
}

.tabla tr th, .tabla tr td {
	border: 1px solid #000;
}
